
.slide {
    padding:0 30px;
}

.slick-slide {
    display: flex!important;
    align-items: center;
}

.slideshow {
    margin: auto 0;
}

.slider-for {
    margin: 0 auto;
    max-width: 40vh;
    max-height: 40vh;
}