<header class="header">
    <div class="searchLine">
        <label for="">Search</label>
        <input type="text" name="" id="userSearch">
        <button id="searchButton"type="button">Search</button>
    </div>
</header>

<main>
    <div class="row">
        <div class="col-8">
            <div class="userList d-flex flex-wrap">
                
            </div>
        </div>
        <div class="col-4">
            <div class="filters">
                <form action="">
                <div class="filters__eyeColor mb-4">
                   <p>Eye color:</p>
                    
                </div>

                <div class="filters__age mb-4">
                    <p>Age:</p>
                    <label for="">From:</label>
                    <input type="number" name="" id="minAge" ><br>
                    <label for="">To:</label>
                    <input type="number" name="" id="maxAge" >
                </div>

                <div class="filters__fruit mb-4">
                    <p>Favourite fruit:</p>
                   
                </div>
                <div class="filters__salary mb-4">
                    <p>Salary:</p>
                   
                </div>
                <button id="confirmFilters" type="button">Apply</button>
                </form>
                <button id="returnUsers" type="button">Return users</button>
            </div>
        </div>
    </div>
</main>