<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>

</head>

<body>
    <div id="userList" class="userList">
        
    </div>
    <div id="modal" class="modalWrapper">
        <div class="modalWindow">
            <div id="modalContent" class="modalWindow__content">
                <div id="userDetails" class="modalContent__userDetails"></div>
                <button id="closeModalBtn" class="modalWindow__closeBtn">Close</button>
            </div>
        </div>
    </div>
    
</body>

</html>