<div class="slideshow">
    <div>
        <img class="slide" src="/src/static/img/slide1.jpg" alt="">
    </div>
    <div>
        <img class="slide" src="/src/static/img/slide2.jpg" alt="">
    </div>
    <div>
        <img class="slide" src="/src/static/img/slide3.jpg" alt="">
    </div>
    <div>
        <img class="slide" src="/src/static/img/team_1.png" alt="">
    </div>
    <div>
        <img class="slide" src="/src/static/img/team_2.png" alt="">
    </div>
    <div>
        <img class="slide" src="/src/static/img/team_3.png" alt="">
    </div>
</div>

<div class="slider-for">
    <div>
        <img class="slide" src="/src/static/img/slide1.jpg" alt="">
    </div>
    <div>
        <img class="slide" src="/src/static/img/slide2.jpg" alt="">
    </div>
    <div>
        <img class="slide" src="/src/static/img/slide3.jpg" alt="">
    </div>
    <div><img class="slide" src="/src/static/img/team_1.png" alt=""></div>
    <div><img class="slide" src="/src/static/img/team_2.png" alt=""></div>
    <div><img class="slide" src="/src/static/img/team_3.png" alt=""></div>
</div>

{{!-- <div class="lazy">
    
    <img data-lazy="/src/static/img/team_1.png" alt="">
    <img data-lazy="/src/static/img/team_2.png" alt="">
    <img data-lazy="/src/static/img/team_3.png" alt="">

    <img data-lazy="/src/static/img/team_1.png" alt="">
    <img data-lazy="/src/static/img/team_2.png" alt="">
    <img data-lazy="/src/static/img/team_3.png" alt="">

    <img data-lazy="/src/static/img/team_1.png" alt="">
    <img data-lazy="/src/static/img/team_2.png" alt="">
    <img data-lazy="/src/static/img/team_3.png" alt="">
</div> --}}

{{!-- //bootstrap --}}